/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; } *,
  *:before,*:after {
  box-sizing: inherit; }

.row {
  clear: both;
  margin: 10px 0px;
}
 .direction-block {
  width: 40%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0% 2% 2% 2%;
  margin: 1%;
  float: left;
  height: 200px;
  overflow: scroll;
 }
