<p>Nav: <a href="/say/hello">Hello</a> | <a href="/say/goodbye">Goodbye</a></p>


<h1>Out.</h1>
<p>I'm up in the club makin it rail with CSA dollas</p>
<p>Find me in app/views/say/goodbye.html.erb</p>

<p>Time to say <%= link_to "Hello", say_hello_path %> </p>
