<h1>This is the Silly Index Page</h1>
<p>Find me in app/views/page/index.html.erb</p>
<p>We don't really do anything here. So I guess you can just watch this video:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/cbP2N1BQdYc" frameborder="0" allowfullscreen></iframe>
