<p>Nav: <a href="/index.html.erb">Home</a> | <a href="/about">About</a> | <a href="/contact.html.erb">Contact</a> </p>
<h1>This is an <strong>h1</strong> tag and is your biggest heading</h1>

  <p>This is a <strong>p</strong> tag and is what you use for writing paragraphs.</p>
  
  <p>Check out the image below.</p>
  <img src="http://images-cdn.9gag.com/photo/aqZD09v_700b.jpg">
  
  <p>This is an example of a <a href="https://www.google.com" target="_blank">link</a> inside of a <strong>p</strong> tag.</p>
  
  <p>You can even put an image inside of a link, so that when you click on the image, it links to another page. For example, this image of a goat links to google.com:</p>
  <a href="https://www.google.com" target="_blank"><img src="http://img2.wikia.nocookie.net/__cb20121010234704/farmville2/images/4/41/Baby_Red_Goat.png"></a>
  
  <h2> You can change the color (white) and background color (purple) of text too.</h2>
  
  <p>If you want to make a word <em>italic</em>, surround it with an opening and closing <strong>em</strong> tag. You can make a word <strong>bold</strong> by surrounding it with an opening and closing <strong>strong</strong> tag.</p>
  
  <h3>And you can even center your text like this.</h3>