<p>Nav: <%= link_to "Home", page_index_path %> | <%= link_to "About", page_about_path %></p>

<h1>About Doggie Daycare</h1>
<p>Find me in app/views/page/about.html.erb</p>
<h3>Do the Doggie Bounce</h3>
<a href="https://youtu.be/2xE2M3RJJXA?t=20s" target="_blank"><img src="http://vignette4.wikia.nocookie.net/flightoftheconchords/images/d/d2/1x12_-_Doggy_Bounce.jpg/revision/latest?cb=20090216231929" alt="Do the Doggie Bounce"></a>

