<div class="welcomeimage">
  <h1 style="color: #fff;
  text-shadow: 2px 2px 5px #000; font-size: 4em;">Welcome to Doggie Daycare</h1>
  <p style="color: #fff;
  text-shadow: 2px 2px 5px #000;">Find me in app/views/page/index.html.erb</p>
</div><!--closes welcomeimage-->
